.header{
    background-color: rgb(34, 60, 132);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 2rem;
    color: white;
}
.sign_in{
    text-align: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}